.services {
  height: 1242px;
  background-color: rgb(235, 235, 235);

  .container__services {
    max-width: 1100px;
    margin: auto;
  }

  &__header {
    padding-top: 140px;

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      color: rgb(189, 189, 189);
      margin-bottom: 40px;
    }

    .subtitle {
      font-family: Merriweather;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 69px;
      color: rgb(51, 51, 51);
      margin-bottom: 102px;
    }
  }

  &__body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    .body__item {
      background-blend-mode: multiply;
      width: 350px;
      height: 360px;
      background-image: url('../../assets/services.png');
      background-color: rgba(0, 95, 163, 0);

      &:hover {
        background-color: rgba(0, 95, 163, 0.65);
      }

      &_text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        line-height: 30px;
        width: 187px;
        height: 54px;
        margin-top: 261px;
        margin-left: 45px;
      }
    }
  }
}
