.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;

    .header__logo {
      font-family: Merriweather;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 50px;
      text-decoration: none;
      color: #005fa3;

      img {
        top: -5px;
        position: relative;
        margin-right: 30px;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 671px;
      flex-wrap: nowrap;
    }

    .header__nav .nav {
      &__social-list,
      &__link-list {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        list-style: none;
        text-decoration: none;
        padding: 0;

        .nav__item {
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
            color: #222222;
          }
        }

        .social__item {
          display: flex;
          align-items: center;
          margin-top: 22px;

          p {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 17px;
            margin: 0;
            padding: 0;
          }

          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
