@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import '../src/components/about/about.scss';
@import '../src/components/clients/clients.scss';
@import '../src/components/contact/contact.scss';
@import '../src/components/footer/footer.scss';
@import '../src/components/navbar/navbar.scss';
@import '../src/components/reviews/reviews.scss';
@import '../src/components/services/services.scss';
@import '../src/components/slider/slider.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// customise bootstrap slider

.carousel {
  max-width: 1100px;
  width: auto;
  margin: auto;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel-indicators {
  width: 50%;
  left: -140px;
  margin: 0;
  bottom: 113px;

  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 40px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  top: 497px;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.carousel-control-prev {
  position: relative;
  width: 3.97rem;
  left: -60px;
  top: 192px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 7.93px;
  height: 15px;
}

.carousel-control-next-icon {
  background-image: url('./assets/arrow-right.png');
}
.carousel-control-prev-icon {
  background-image: url('./assets/arrow-left.png');
}
