@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// customise slider

.carousel {
  max-width: 1100px;
  width: auto;
  margin: auto;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel-indicators {
  width: 50%;
  left: -140px;
  margin: 0;
  bottom: 113px;

  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 40px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  top: 497px;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.carousel-control-prev {
  position: relative;
  width: 3.97rem;
  left: -60px;
  top: 192px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 7.93px;
  height: 15px;
}

.carousel-control-next-icon {
  background-image: url('./assets/arrow-right.png');
}
.carousel-control-prev-icon {
  background-image: url('./assets/arrow-left.png');
}

//nav

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;

    .header__logo {
      font-family: Merriweather;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 50px;
      text-decoration: none;
      color: #005fa3;

      img {
        top: -5px;
        position: relative;
        margin-right: 30px;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 671px;
      flex-wrap: nowrap;
    }

    .header__nav .nav {
      &__social-list,
      &__link-list {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        list-style: none;
        text-decoration: none;
        padding: 0;

        .nav__item {
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
            color: #222222;
          }
        }

        .social__item {
          display: flex;
          align-items: center;
          margin-top: 22px;

          p {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 17px;
            margin: 0;
            padding: 0;
          }

          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

//first-screen slider

.first-screen {
  height: 670px;
  left: 0px;
  top: 110px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .slider__text {
    width: 589px;
    height: 117px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 80px;
  }

  .slider__button {
    width: 270px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
    background: #005fa3;
    margin-bottom: 120px;
    padding: 0;
  }
}

// services

.services {
  height: 1242px;
  background-color: rgb(235, 235, 235);

  .container__services {
    max-width: 1100px;
    margin: auto;
  }

  &__header {
    padding-top: 140px;

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      color: rgb(189, 189, 189);
      margin-bottom: 40px;
    }

    .subtitle {
      font-family: Merriweather;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 69px;
      color: rgb(51, 51, 51);
      margin-bottom: 102px;
    }
  }

  &__body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    .body__item {
      background-blend-mode: multiply;
      width: 350px;
      height: 360px;
      background-image: url('./assets/services.png');
      background-color: rgba(0, 95, 163, 0);

      &:hover {
        background-color: rgba(0, 95, 163, 0.65);
      }

      &_text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        line-height: 30px;
        width: 187px;
        height: 54px;
        margin-top: 261px;
        margin-left: 45px;
      }
    }
  }
}

//about

.about {
  height: 844px;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: flex-start;

  &__left-block {
    max-width: 445px;
    margin-top: 140px;
    margin-left: 20px;

    h2 {
      width: 155px;
      height: 23px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      color: rgb(189, 189, 189);
      margin-bottom: 40px;
    }

    h1 {
      width: 347px;
      height: 117px;
      margin-bottom: 60px;
      font-family: Merriweather;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      color: rgb(51, 51, 51);

      span {
        color: rgb(0, 95, 163);
      }
    }

    p {
      height: 245px;
      width: 445px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      color: rgb(0, 0, 0);
      margin-bottom: 0;
    }
  }

  &__right-block {
    display: flex;
    flex-wrap: wrap;
    height: 570px;
    margin-left: 100px;
    margin-top: 149px;

    .about__item {
      width: 255px;
      height: 255px;
      background-color: rgb(235, 235, 235);
      margin: 15px;
      padding: 30px 40px;

      &:hover {
        background-color: rgb(0, 95, 163);

        h1,
        a,
        p {
          color: white;
        }
      }

      h1 {
        width: 75px;
        height: 54px;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
        letter-spacing: 0.1em;
        color: rgb(0, 0, 0);
      }

      p {
        width: 107px;
        height: 37px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-top: 30px;
        margin-bottom: 47px;
        color: rgb(0, 0, 0);
      }

      a {
        width: 67px;
        height: 17px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: rgb(0, 95, 163);
      }
    }
  }
}

//clients

.clients {
  height: 630px;
  background: rgb(235, 235, 235);

  h1 {
    width: 483px;
    height: 47px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: rgb(51, 51, 51);
  }

  h2 {
    width: 350px;
    height: 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: rgb(189, 189, 189);
    margin-bottom: 80px;
    margin-top: 40px;
  }

  .slider__body {
    img {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 50px;
    }
  }

  //customize slider

  .carousel {
    max-width: 1465px;
  }

  .carousel-inner {
    max-width: 1100px;
    height: 480px;
    margin-left: 100px;
  }

  .carousel .carousel-indicators {
    bottom: 100px;
    left: -60px;
    li {
      background-color: rgb(0, 95, 163);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 95, 163, 0.2);
    position: relative;
    left: -120px;
    top: 160px;
    width: 60px;
    height: 60px;

    &:hover,
    &:focus {
      background-color: rgba(0, 95, 163, 1);
    }
  }
}
