.first-screen {
  height: 670px;
  left: 0px;
  top: 110px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .slider__text {
    width: 589px;
    height: 117px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 80px;
  }

  .slider__button {
    width: 270px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
    background: #005fa3;
    margin-bottom: 120px;
    padding: 0;
  }
}
